<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>Graphic Design Sample Work</h4>
          <p class="card-text">Click on the images to enlarge them.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch pb-3">
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/buildings.png" target="_blank">
              <img style="width:100%" alt="buildings" src="./assets/images/graphics/buildings.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/bulb.png" target="_blank">
              <img style="width:100%" alt="bulb" src="./assets/images/graphics/bulb.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/callcenter.png" target="_blank">
              <img style="width:100%" alt="operator" src="./assets/images/graphics/callcenter.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/check.png" target="_blank">
              <img style="width:100%" alt="check" src="./assets/images/graphics/check.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/clipboard.png" target="_blank">
              <img style="width:100%" alt="clipboard" src="./assets/images/graphics/clipboard.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/compass.png" target="_blank">
              <img style="width:100%" alt="compass" src="./assets/images/graphics/compass.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/compliance.png" target="_blank">
              <img style="width:100%" alt="compliance" src="./assets/images/graphics/compliance.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/compliance3.png" target="_blank">
              <img style="width:100%" alt="compliance" src="./assets/images/graphics/compliance3.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/electric.png" target="_blank">
              <img style="width:100%" alt="tower" src="./assets/images/graphics/electric.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/Fire Extinguisher.png" target="_blank">
              <img style="width:100%" alt="Fire Extinguisher" src="./assets/images/graphics/Fire Extinguisher.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">

            <a href="./assets/images/graphics/identity.png" target="_blank">
              <img style="width:100%" alt="key" src="./assets/images/graphics/identity.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/lifesaver.png" target="_blank">
              <img style="width:100%" alt="life saver" src="./assets/images/graphics/lifesaver.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/magnifier.png" target="_blank">
              <img style="width:100%" alt="magnifier" src="./assets/images/graphics/magnifier.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/play.png" target="_blank">
              <img style="width:100%" alt="play" src="./assets/images/graphics/play.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/puzzlecheck.png" target="_blank">
              <img style="width:100%" alt="puzzle" src="./assets/images/graphics/puzzlecheck.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/Rescue Boat.png" target="_blank">
              <img style="width:100%" alt="rescue boat" src="./assets/images/graphics/Rescue Boat.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/time.png" target="_blank">
              <img style="width:100%" alt="time" src="./assets/images/graphics/time.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/sunset.png" target="_blank">
              <img style="width:100%" alt="sunset" src="./assets/images/graphics/sunset.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/coal.png" target="_blank">
              <img style="width:100%" alt="mining" src="./assets/images/graphics/coal.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/coalmining2.png" target="_blank">
              <img style="width:100%" alt="mining" src="./assets/images/graphics/coalmining2.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/Hyrdogen.png" target="_blank">
              <img style="width:100%" alt="hydrogen" src="./assets/images/graphics/Hyrdogen.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/Other.png" target="_blank">
              <img style="width:100%" alt="other" src="./assets/images/graphics/Other.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/petcoke.png" target="_blank">
              <img style="width:100%" alt="rock" src="./assets/images/graphics/petcoke.png">
            </a>
          </div>
        </div>
        <div class="col-4 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/graphics/civil_tx.png" target="_blank">
              <img style="width:100%" alt="CD TX Logo" src="./assets/images/graphics/civil_tx.png">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



