<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>UX Sample Work</h4>
          <p class="card-text">Click on the image to enlarge, open a video, or open a pdf.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch">
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/menu.mp4" target="_blank">
              <img style="width:100%" alt="Menu Animation" src="./assets/images/ux/menu.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Menu - High Fidelity Prototype</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/UXPin-Mobile_Navigation-ChangeRequest.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/mobile_cr.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Menu - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/mobile_menus.mp4" target="_blank">
              <img style="width:60%" alt="pdf" src="./assets/images/ux/mobile_menu.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Menu - High Fidelity Prototype</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/UXPin-Mobile_Navigation-Create.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/create.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Menu - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/UXPin-Mobile_Navigation-IE_Dashboard.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/mobile_dash.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Dashboard - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/Invoice-Print _and _Web_Versions.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/invoice.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Invoice: Print &amp; Web - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/ManageAccount-ScreenCapture.compressed.mp4" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/manage.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Account Management - High Fidelity Prototype</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/ManageAccount-Wireframe.png" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/manage-wireframe.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Account Management - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/UXPin-Cancel_with_Modal.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/cancel_modal.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Cancel with Modal - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/search_tool.compressed.mp4" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/searchtool.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Search Tool - High Fidelity Prototype</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/UXPin-Search_Tool.png" target="_blank">
              <img style="width:100%" alt="wireframe" src="./assets/images/ux/UXPin-Search_Tool.png">
            </a>
          </div>
          <h4 class="font-weight-light">Search Tool - Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/Grid_Structure-Low_Fidelity_Wireframe.jpg" target="_blank">
              <img style="width:100%" alt="jpg" src="./assets/images/ux/Grid_Structure-Low_Fidelity_Wireframe.jpg">
            </a>
          </div>
          <h4 class="font-weight-light">Grid Structure - Low Fidelity Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/Mobile_Edit_Toggle-Low_Fidelity_Wireframe.jpg" target="_blank">
              <img style="width:100%" alt="jpg" src="./assets/images/ux/Mobile_Edit_Toggle-Low_Fidelity_Wireframe.jpg">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Edit Toggle - Low Fidelity Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/Mobile_Edit-Low_Fidelity_Wireframe.jpg" target="_blank">
              <img style="width:100%" alt="jpg" src="./assets/images/ux/Mobile_Edit-Low_Fidelity_Wireframe.jpg">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Edit - Low Fidelity Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/Mobile_Edit-Low_Fidelity_Wireframe_2.jpg" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/Mobile_Edit-Low_Fidelity_Wireframe_2.jpg">
            </a>
          </div>
          <h4 class="font-weight-light">Mobile Edit - Low Fidelity Wireframe</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/ux/ResumeDashboard-LowFidelity.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/lofi_res.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Portfolio Dashboard - Low Fidelity</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 pb-5 mb-5">
          <div class="thumbnail">
            <a href="./assets/docs/ux/ResumeDashboard-HighFidelity_viaXD.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/ux/hifi_res.PNG">
            </a>
          </div>
          <h4 class="font-weight-light">Portfolio Dashboard - High Fidelity</h4>
        </div>
      </div>
    </div>

  </div>
</div>
