
<div class="container-fluid px-0">
  <div class="d-flex flex-row flex-wrap">

    <div class="jumbo-title col-12 pl-4 pt-5 mt-5">
      UX Designer &amp;&nbsp;<span class="text-nowrap">UI Developer&nbsp;</span><span class="brand-color-text">Portfolio</span>
    </div>

    <div class="col col-sm-12 mb-5">
      <div class="row mx-sm-0">
        <div class="jumbo-text col-12 col-md-7 pt-4">
          <span style="line-height: 35px;">
            I am a maker.<br>
            Part designer, developer, and writer; <br>
            but mostly someone who gets things done.
          </span>

          <div class="d-flex flex-row justify-content-between py-4 mt-md-5 pt-lg-5">
            <a class="col-5 btn btn-brand" role="button" [routerLink]="['works']">Works</a>
            <a class="col-5 btn btn-brand" role="button" [routerLink]="['resumedash']">Resumé</a>
          </div>
        </div>

        <div class="col-12 col-md-5 front-page_bg-image">
          <img class="d-flex align-self-center align-self-sm-end img-fluid ml-2 ml-xl-4 p-5 p-md-4 p-lg-5" alt="Caricature" src="./assets/images/me7.png">
        </div>

      </div>
    </div>

  </div>
</div>
