<div class="container-fluid">
  <div class="row">

    <div class="col-12 mt-4">
      <h2>Tech Skills</h2>
    </div>

    <div class="d-flex flex-column col-12 col-sm-4 col-lg-3 pt-3 mb-sm-5 pb-4">
      <h4 class="font-weight-light">Languages</h4>
      <div class="card lightcard">
        <ul class="pt-3">
          <li>HTML</li>
          <li>CSS</li>
          <li>SCSS</li>
          <li>JavaScript</li>
          <li>Angular</li>
          <li>Typescript</li>
          <li>C#</li>
          <li>Java</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column col-12 col-sm-8 col-lg-4 pt-3 mb-sm-5 pb-4">
      <h4 class="font-weight-light">Skills</h4>
      <div class="card lightcard">
        <ul class="pt-3">
          <li>Agile Methodologies</li>
          <li>Basic networking components, protocols &amp; server configuration</li>
          <li>Computer-Aided Design</li>
          <li>Graphic Design</li>
          <li>Information Architecture</li>
          <li>Requirements Gathering</li>
          <li>Requirements Analysis</li>
          <li>Testing</li>
          <li>Test Script Writing</li>
          <li>UI Design</li>
          <li>Usability Testing</li>
          <li>User Experience</li>
          <li>Wire Framing</li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-lg-5 pt-3 mb-sm-5 pb-4">
      <h4 class="font-weight-light">Applications &amp; Frameworks</h4>
      <div class="card lightcard">
        <ul class="pt-3">
          <li>Adobe Dreamweaver</li>
          <li>Adobe Photoshop</li>
          <li>Adobe Illustrator</li>
          <li>Adobe XD</li>
          <li>AutCAD</li>
          <li>Bitbucket</li>
          <li>Bootstrap 3</li>
          <li>Bootstrap 4</li>
          <li>Box</li>
          <li>Confluence Wiki</li>
          <li>Font Awesome</li>
          <li>Git</li>
          <li>GIMP</li>
          <li>Google Analytics</li>
          <li>JIRA</li>
          <li>jQuery</li>
          <li>Node.js</li>
          <li>npm</li>
          <li>PowerShell</li>
          <li>Quality Center</li>
          <li>Salesforce</li> 
          <li>SharePoint</li>
          <li>SPLUNK</li>
          <li>UXPin</li>
          <li>Visio</li>
          <li>Visual Studio Code</li>
          <li>Visual Studio 2019</li>
          <li>WordPress</li>
          <li>Zurb Foundation</li>
        </ul>
      </div>
    </div>

    <div class="py-5">&nbsp;</div>
  </div>
</div>
