<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>Photography Sample Work</h4>
          <p class="card-text">Click on the images to enlarge them.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch">
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/DSC03454.jpg" target="_blank">
              <img style="width:100%" alt="Ship" src="./assets/images/photos/DSC03454.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/10167.jpg" target="_blank">
              <img style="width:100%" alt="Beach" src="./assets/images/photos/10167.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/08D30PR.jpg" target="_blank">
              <img style="width:100%" alt="Glider" src="./assets/images/photos/08D30PR.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/DSC03560.jpg" target="_blank">
              <img style="width:100%" alt="Carnival" src="./assets/images/photos/DSC03560.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/671.jpg" target="_blank">
              <img style="width:100%" alt="Protest" src="./assets/images/photos/671.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/649.jpg" target="_blank">
              <img style="width:100%" alt="Capital of Austin" src="./assets/images/photos/649.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="thumbnail">
            <a href="./assets/images/photos/100_1674.jpg" target="_blank">
              <img style="width:100%" alt="Person" src="./assets/images/photos/100_1674.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



