<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>Writing Sample Work</h4>
          <p class="card-text">Click on the image to open a pdf.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch">
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/W-4 Breakdown.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/w4.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/Pay Yourself First.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/pay.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/Budgeting.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/budgeting.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/Credit Scores To Buy or Not to Buy.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/credit.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/Help is Here CFPB Accepting Credit Reporting Complaints.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/help.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="thumbnail">
            <a href="./assets/docs/writing/How to Get What You Want.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/smart.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-5 mb-5">
          <div class="thumbnail">
            <a href="./assets/docs/writing/Crooks Using Very Elaborate Plan to Trick You.pdf" target="_blank">
              <img style="width:100%" alt="pdf" src="./assets/images/writings/crooks.PNG">
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



