.footer-copyright {
  background: #fffaf0;
  padding: 8px 0 8px 0;
  width: 100%;
  bottom: 0px;
  position: fixed;
  z-index: 3;
}

.box-shadow {
  box-shadow: 0 -.25rem .75rem rgba(0, 0, 0, .05);
}
