<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>Art Sample Work</h4>
          <p class="card-text">Click on the images to enlarge them.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch">
        <div class="col-12 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/art/passion.jpg" target="_blank">
              <img style="width:100%" alt="buildings" src="./assets/images/art/passion.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/art/sea.jpg" target="_blank">
              <img style="width:100%" alt="bulb" src="./assets/images/art/sea.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/art/chalk2.jpg" target="_blank">
              <img style="width:100%" alt="operator" src="./assets/images/art/chalk2.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-3">
          <div class="thumbnail">
            <a href="./assets/images/art/train.jpg" target="_blank">
              <img style="width:100%" alt="check" src="./assets/images/art/train.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



