<div class="container-fluid">
  <div class="row">

    <div class="col-12 mt-4">
      <h2>Education &amp; Experience</h2>
    </div>

    <div class="d-flex flex-column col mt-md-5">
      <h4 class="font-weight-light">Education</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap pb-2 pb-sm-5 pb-md-2 pt-4">
          <div class="d-flex justify-content-center align-items-center col-3 col-md-4 col-xl-3">
            <img style="width: 60%" alt="wgu logo" src="./assets/images/resume/wgu.jpg">
          </div>
          <div class="d-flex align-items-center col-7 col-md-6 col-xl-7">
            Bachelor of Science
          </div>
          <div class="d-flex justify-content-center align-items-center col-2">
            <div class="brand-color-text fa-2x" id="wguBtn" role="button" onclick="wguDetails(); wguFunction()">
              <i class="fa fa-plus-circle" id="wguIcon"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-md-4 col-xl-3 py-2">
            <img style="width: 75%" alt="tsu logo" src="./assets/images/resume/TSU.png">
          </div>
          <div class="d-flex align-items-center col-7 col-md-6 col-xl-7 py-sm-4 py-lg-4">
            Bachelor of Business Administration
          </div>
          <div class="d-flex justify-content-center align-items-center col-2">
            <div class="brand-color-text fa-2x" id="tsuBtn" role="button" onclick="tsuDetails(); tsuFunction()">
              <i class="fa fa-plus-circle" id="tsuIcon"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-md-4 col-xl-3 pb-3">
            <img style="width: 48%" alt="ctc logo" src="./assets/images/resume/central-texas-college-min.png">
          </div>
          <div class="d-flex align-items-center col-7 col-md-6 col-xl-7">
            Associate Degree
          </div>
          <div class="d-flex justify-content-center align-items-center col-2">
            <div class="brand-color-text fa-2x" id="ctcBtn" role="button" onclick="ctcDetails(); ctcFunction()">
              <i class="fa fa-plus-circle" id="ctcIcon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-sm-6 pt-4 pt-sm-0 pt-md-5">
      <h4 class="font-weight-light">Experience</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap my-sm-2 my-md-4 pt-2 pb-3">
          <div class="d-flex justify-content-start align-items-center col-10 col-md-8 col-lg-10" style="padding-bottom: 3px">
            UX Designer/Developer, <br> User Experience Specialist 2
          </div>
          <div class="d-flex justify-content-center align-items-sm-start col-2 col-md-4 col-lg-2">
            <div class="brand-color-text fa-2x" id="UxBtn" role="button" onclick="UxDetails(); UxFunction()">
              <i class="fa fa-plus-circle py-2" id="UxIcon"></i>
            </div>
          </div>
          <div class="d-flex justify-content-start align-items-center col-10 col-md-8 col-lg-10 py-sm-4">
            BITS Applications Developer 2
          </div>
          <div class="d-flex justify-content-center align-items-center col-2 col-md-4 col-lg-2">
            <div class="brand-color-text fa-2x" id="dev2Btn" role="button" onclick="dev2Details(); dev2Function()">
              <i class="fa fa-plus-circle py-2" id="dev2Icon"></i>
            </div>
          </div>
          <div class="d-flex justify-content-start align-items-center col-10 col-md-8 col-lg-10">
            IT Design &amp; Analysis Intern
          </div>
          <div class="d-flex justify-content-center align-items-center col-2 col-md-4 col-lg-2">
            <div class="brand-color-text fa-2x" id="fallBtn" role="button" onclick="fallDetails(); fallFunction()">
              <i class="fa fa-plus-circle py-2" id="fallIcon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-sm-12 pt-4 mb-5 pb-5">
      <h4 class="font-weight-light">Details</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap py-3">
          <div class="col-12">
            <div class="view-header" id="wguDetails" style="display:none">
              <p>
                <span class="brand-color-text">WGU</span><br>
                Bachelor of Science | Information Technology: Software Emphasis<br>
                Western Governors University | 12/2016
              </p>
              <br>
            </div>

            <div class="view-header" id="tsuDetails" style="display:none">
              <p>
                <span class="brand-color-text">TSU</span><br>
                Bachelor of Business Administration | Marketing | Minor: Criminal Justice<br>
                Tarleton State University | 5/2005 | Magna Cum Laude, 3.83 GPA
              </p>
              <br>
            </div>

            <div class="view-header" id="ctcDetails" style="display:none">
              <p>
                <span class="brand-color-text">CTC</span><br>
                Associate Degree in General Studies<br>
                Central Texas College | 5/2002 | Graduated with Honors, cumulative GPA 3.7
              </p>
              <br>
            </div>

            <div class="view-header" id="UxDetails" style="display:none">
              <p>
                <span class="brand-color-text">UX Designer/Developer, <br> User Experience Specialist 2 </span><br>
                Electric Reliability Council of Texas | Taylor, TX | 09/12/2017 – 01/02/2020<br>
              </p><ul>
                <li>Application Development, Web Development, Mobile Design, Responsive Design, Interaction Design, Visual &amp; Graphic Design</li>
                <li>Creates initial development of products (user interfaces, UIs): designs user interaction, wireframes, and low &amp; high-fidelity prototypes via UXPin, Visio, html, JavaScript, CSS, and SCSS. Designs in the browser where possible, reducing deliverables and throw-away work.</li>
                <li>CConducts user interviews, UX research, UX analyses, and usability testing. Documents and defines information architecture.</li>
                <li>Leads Design Review Sessions with key stakeholders.</li>
                <li>Code creation, revision, and review. Resolution of code defects and code conflicts. Create project repositories.</li>
                <li>Create components for and maintain corporate design system.</li>
                <li>Manual test script writing in Quality Center and performance of manual testing.</li>
                <li>Process Automation Project: While working on an Agile team, directed the work of others, and designed and coded forms, invoices, delete / confirmation modals, welcome screens, menus, navigation, mobile nav and alternate mobile layouts, search filter tool, email design, graphic design of application icons, and copyedited user guide.</li>
              </ul>
              <p></p>
              <br>
            </div>

            <div class="view-header" id="dev2Details" style="display:none">
              <p>
                <span class="brand-color-text">BITS Applications Developer 2 </span><br>
                Electric Reliability Council of Texas | Taylor, TX | 01/16/2017 – 09/12/2017<br>
              </p><ul>
                <li>Building Information Technology Staff, Rotational Program</li>
                <li>Designed new Confluence Wiki site with JIRA integration and a focus on departmental collaboration and product/service delivery communication to internal customers. Created a Work Estimate Calculator and form templates. Created a graphic describing QA and Test “Products and Services” to be used online and in print.</li>
                <li>Created Visio Diagrams of Complex System Processes for the Retail Components: NAESB, PaperFree, TIBCO-Retail, and SIEBEL.</li>
                <li>Deployed a Security Training and Awareness Phishing Exercise and created a security awareness message for print and Corporate CCTV (Today in ERCOT TV); Conducted a Cyber Security Analysis; Performed a Threat Intel Recon and discovered breached user accounts; Completed a Threat Intelligence Gathering Report.</li>
                <li>Created PowerShell scripts and SQL queries for Asset Inventory databases.</li>
                <li>Performed Java validation on the user interface of an application in development.</li>
              </ul>
              <p></p>
              <br>
            </div>

            <div class="view-header" id="fallDetails" style="display:none">
              <p>
                <span class="brand-color-text">IT Design &amp; Analysis Intern </span><br>
                Electric Reliability Council of Texas | Taylor, TX | 05/24/2016 – 12/16/2016<br>
              </p><ul>
                <li>Utilized the skills of: requirements gathering and analysis, &amp; risk analysis and mitigation to restructure and redesign internal websites via SharePoint: 5 department sites, 1 divisional site, and the top level internal IT site. Provided SharePoint support to end users. Designed and created custom icons. Analyzed content for duplication and redundancy; Merged existing IAM SharePoint sites; Redesigned homepages; Added live dashboards; Restructured SharePoint taxonomy; Initiated retirement of outdated SharePoint sites.</li>
              </ul>
              <p></p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-5">&nbsp;</div>
  </div>
</div>
