<div class="container-fluid">
  <div class="row">

    <div class="col-12 mt-4">
      <h2>Certifications</h2>
    </div>
    <div class="d-flex flex-column col pt-3 pb-sm-1 pb-md-0 pb-lg-4 mb-md-1">
      <h4 class="font-weight-light">UX &amp; Design</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap">
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 py-lg-0 border-bottom">
            <img style="width:100%" alt="HFI Certification" src="./assets/images/resume/hfi.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Human Factors International<br>
            Certified Usability Analyst (CUA)<br>
            11/20/2018
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 px-0 mx-0 pb-lg-2 border-left-lg border-left-xl-none border-bottom">
            <img style="width:100%" alt="NNG Certification" src="./assets/images/resume/nng.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Nielsen Norman Group UX Certification<br>
            Interaction Design Specialty<br>
            12/6/2017
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3">
            <img style="width:100%" alt="Web Design Certification" src="./assets/images/resume/ciwwebdesign.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3">
            CIW Web Design Specialist<br>
            9/26/2014
          </div>
        </div>
      </div>
      <h4 class="mt-4 mt-md-5 font-weight-light">Project Management</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap">
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3">
            <img style="width:100%" class="py-2" alt="Project Certification" src="./assets/images/resume/copmtiaproject.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4">
            CompTIA Project+ Certified<br>
            6/7/2015
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-12 mt-4 mt-md-5 mt-xl-0 pt-xl-3">
      <h4 class="font-weight-light">Web Development</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap">
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-left-lg border-left-xl-none border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Google Mobile Sites Certification<br>
            9/28/2018 – 9/28/2019<br>
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-left-lg border-left-xl-none border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Google Analytics Individual Qualification<br>
            9/16/2018 – 9/16/2019
          </div>
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 border-left-lg border-left-xl-none border-bottom">
            <img style="width:100%" alt="Web Development Certification" src="./assets/images/resume/ciwweb.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CIW Web Development Professional<br>
            12/20/2016
          </div>
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 border-bottom border-left-lg border-left-xl-none">
            <img style="width:100%" alt="Javascript Certification" src="./assets/images/resume/ciwjavascript.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CIW JavaScript Specialist<br>
            2/19/2016
          </div>
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 border-left-lg border-left-xl-none border-bottom">
            <img style="width:100%" alt="Web Foundations Certification" src="./assets/images/resume/ciwwebfoundations.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CIW Web Foundations Associate<br>
            8/18/2014
          </div>
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-4 border-bottom border-left-lg border-left-xl-none">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 pt-3 pt-lg-0 border-bottom">
            CIW Internet Business Associate<br>
            8/18/2014
          </div>
          <div class="justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-4 pt-lg-5 pt-xl-4 border-bottom border-bottom-xl-none">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3 border-bottom border-bottom-xl-none">
            CIW Site Development Associate<br>
            8/18/2014
          </div>
          <div class="col-3 col-sm-4 col-lg-2 px-0 mx-0 pt-3 pt-sm-0 pt-lg-4 pt-xl-3 border-left-lg border-left-xl-none">
            <img style="width:100%" alt="Software Certification" src="./assets/images/resume/mtasoftware.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3">
            Microsoft Technology Associate<br>
            Software Development Fundamentals<br>
            11/07/2014
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-12 mt-4 mt-md-5">
      <h4 class="font-weight-light">Programming</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap">
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 border-bottom">
            <img style="width:100%" alt="Pearl Certification" src="./assets/images/resume/ciwpearl.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CIW Perl Specialist<br>
            12/20/2016
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 px-0 py-sm-3 mx-0 border-left-lg border-left-xl-none border-bottom">
            <img style="width:100%" alt="Java Certification" src="./assets/images/resume/java.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Oracle Certified Associate<br>
            Java SE 7 Programmer<br>
            5/20/2016
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-3 border-bottom border-bottom-xl-none">
            <img style="width:100%" alt="Database Design Certification" src="./assets/images/resume/ciwdatabase.jpg">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3 border-bottom border-bottom-xl-none">
            CIW Database Design Specialist<br>
            10/29/2015
          </div>

        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-12 mt-4 mt-md-5 pb-5">
      <h4 class="font-weight-light">Operations</h4>
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap">
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-bottom py-4">
            <img style="width:100%" alt="Salesforce Expeditioner Badge" src="./assets/images/resume/expeditioner.png">
          </div>
          <div class="d-flex flex-column align-content-center col-9 col-sm-8 col-lg-4 border-bottom py-3 pt-xl-5">
            <span class="font-italic">In-Progress Training:</span>
            Trailhead by Salesforce<br>
            <a href="https://trailhead.com/me/winters">https://trailhead.com/me/winters</a>
          </div>

          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-4 border-bottom border-left-lg border-left-xl-none">
            <img style="width:100%" alt="Splunk Certification" src="./assets/images/resume/splunk.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3 border-bottom">
            Splunk Certified User<br>
            8/21/2017
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CompTIA<br>
            IT Operations Specialist – CIOS<br>
            12/22/2015-12/22/2018
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-left-lg border-left-xl-none border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 pt-3 border-bottom py-3">
            CompTIA<br>
            Secure Infrastructure Specialist – CSIS<br>
            12/22/2015 – 06/04/2016
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 pt-3 border-bottom py-3">
            CompTIA<br>
            Network+ ce <br>
            12/22/2015
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-4 border-left-lg border-left-xl-none border-bottom">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            CompTIA A+ Certified<br>
            9/14/2015
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 px-0 mx-0 border-bottom">
            <img style="width:100%" alt="Operating Systems Certification" src="./assets/images/resume/mtawindowsop.png">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 border-bottom py-3">
            Microsoft Technology Associate<br>
            Windows Operating System Fundamentals<br>
            7/20/2015
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 border-left-lg border-left-xl-none border-bottom py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 pt-3 border-bottom py-3">
            CIW Network Technology Associate<br>8/18/2014<br>
          </div>
          <div class="d-flex justify-content-center align-items-center col-3 col-sm-4 col-lg-2 py-4">
            <img style="width:100%" alt="kw certification icon" src="./assets/images/resume/certification.PNG">
          </div>
          <div class="d-flex align-items-center col-9 col-sm-8 col-lg-4 py-3">
            CompTIA Security+ passed<br>
            6/4/2013
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5">&nbsp;</div>

  </div>
</div>
