<div class="container-fluid">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column col-12">
      <div class="card mb-2 mx-3">
        <div class="card-body">
          <h4>CAD Sample Work</h4>
          <p class="card-text">Click on the images to enlarge them.</p>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap align-self-stretch pb-3">
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Exercise 5 ch 7-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Exercise 5 ch 7-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Exercise 8-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Exercise 8-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/photo.PNG" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/photo.PNG">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/pizzacolor-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/pizzacolor-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Exercise5 ch 7-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Exercise5 ch 7-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 1 ch 3-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 1 ch 3-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 1 ch 7-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 1 ch 7-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 1-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 1-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 2 ch 7-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 2 ch 7-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 3 ch 6-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 3 ch 6-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 4 ch 6-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 4 ch 6-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 4-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 4-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 5 ch 6-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 5 ch 6-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 7-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 7-Model.jpg">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pb-3">
          <div class="thumbnail">
            <a href="./assets/images/cad/Problem-Solving Exercise 8-Model.jpg" target="_blank">
              <img style="width:100%" alt="CAD Drawing" src="./assets/images/cad/Problem-Solving Exercise 8-Model.jpg">
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
