<div class="container-fluid">
  <div class="row">

    <div class="col-12 mt-4">
      <h2>Soft Skills</h2>
    </div>

    <div class="d-flex flex-column col pt-4 pt-sm-0 mt-md-5">
      <div class="card lightcard d-flex justify-content-center align-items-center">
        <img class="img-fluid" alt="Word Art of Soft Skills" src="./assets/images/resume/word_art_soft.png">
      </div>
    </div>
    <div class="d-flex flex-column col-12 pb-5 mb-5">
      <div class="card lightcard">
        <div class="d-flex flex-row flex-wrap pt-3">
          <div class="d-flex justify-content-start align-items-center col-12">
            <ul>
              <li>CREATIVE</li>
              <li>TEAM PLAYER</li>
              <li>MULTITASKING</li>
              <li>FAST LEARNER</li>
              <li>TIME MANAGER</li>
              <li>PROBLEM SOLVER</li>
              <li>GOAL–ORIENTATED</li>
              <li>EXPERIENCE WITH CONTRACT WORK</li>
              <li>EXPERIENCE WORKING WITH MILITARY PERSONNEL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-5">&nbsp;</div>
  </div>
</div>
